<div class="container">
  <h1>New game</h1>

  <div class="d-flex">
    <% @grid.each do |letter| %>
      <%= letter %>
    <% end %>
  </div>

  <form action="/score" method="post">
  <input type="text" name="member" placeholder="Who are you looking for?">
  <input type="submit">
</form>
</div>
