<div class="container">
  <h1>Results</h1>

  <% if @included == false %>
    <p>Sorry but <strong><%= @word.upcase %></strong> can't be built out of <%= @grid %>.</p>
  <% elsif @english == false %>
    <p>Sorry but <strong><%= @word.upcase %></strong> doesn't seem to be a valid English word!</p>
  <% else %>
    <p><strong>Congratulations!</strong> <%= @word.upcase %> is a valid English word!</p>
  <% end %>
</div>
